<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
    alt=""
    height="200px"
    >
  </div>

  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ex, nisi sunt nostrum voluptate quia deserunt voluptates aut accusantium architecto soluta, voluptatem iusto assumenda nemo dolorum molestiae aliquid nihil maiores.
    </a></p>
  </div>

</div>
