<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles-main">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
      cardTitle="Título"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum repellat quae inventore. Impedit velit laboriosam quo rem eius animi vero voluptatem, beatae sunt dignissimos? Nesciunt, debitis. Minima tempora eos odit."
    ></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
      smallCardTitle="Título 1"
    ></app-small-card>
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
      smallCardTitle="Título 2"
    ></app-small-card>
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
      smallCardTitle="Título 3"
    ></app-small-card>


  </div>

</div>
